// Colors

$red: #c31432;
$grey: #bdc3c7;
$black: #000000;
$blue: #2948ff;
$light-blue: #6DD5FA;
$rose: #f4c4f3;
$white: #FFFFFF;

// Fonts

$small: 16px;
$medium: 20px;
$big: 48px;

$large-padding: 10px 15px;
$big-padding: 20px 30px;

$default-margin-top: 30px;
$big-margin-top: 90px;

$border-radius: 4px;

